:root {
  --price-list-gap: auto;
  --price-list-align-items: stretch;
  --service-width: 32%;
  --service-padding: 0 2.5rem 0rem 2.5rem;

  --booking-info-height: 70vh;
  --booking-info-flex-direction: row;
  --booking-info-gap: 5%;
  --booking-info-padding-top: 0;
  --booking-info-text-flex-direction: row;
  --booking-info-text-gap: 10rem;
  --booking-info-text-h1-font-size: 3rem;
  --info-text-group-h2-font-size: 2rem;
  --info-text-group-p-font-size: 1.6rem;
  --booking-info-text-height: 80%;
  --booking-info-iframe-height: 80%;
  --booking-info-iframe-width: 40%;
  --booking-info-iframe-border-radius: 0 4rem 4rem 0;
}
@media (max-width: 1200px) {
  :root {
    --booking-info-text-flex-direction: column;
    --booking-info-text-gap: 1rem;
    --booking-info-text-h1-font-size: 3rem;
    --info-text-group-h2-font-size: 1.5rem;
    --info-text-group-p-font-size: 1rem;
    --booking-info-iframe-height: 100%;
    --booking-info-text-height: 100%;
  }
}
@media (max-width: 800px) {
  :root {
    --price-list-gap: 5rem;
    --price-list-align-items: center;
    --service-width: 90%;
    --service-padding: 0;

    --booking-info-height: auto;
    --booking-info-flex-direction: column-reverse;
    --booking-info-gap: 3rem;
    --booking-info-padding-top: 3rem;
    --booking-info-iframe-height: 30rem;
    --booking-info-iframe-width: 100%;
    --booking-info-iframe-border-radius:  4rem 4rem 0 0;
    --booking-info-text-h1-font-size: 3rem;



  }
}


.price-list {
  background-color: #161F29;
  justify-content: space-evenly;
  align-items: var(--price-list-align-items);
  height: auto;
  margin-top: 1.5rem;
  padding: 6rem 0 8rem 0;
  gap: var(--price-list-gap);
}

.service {
  width: var(--service-width);
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  text-align: center;

  padding: var(--service-padding);

  gap: 2rem;
  

}

.service-pic {
  border-radius: 100rem;

  height: 7rem;
  width: 7rem;

  display: flex;

  align-items: center;
  justify-content: center;

  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

}

.service-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;

}
.service-info > h2 {
  font-size: 3rem;
  /* margin-bottom: 1rem; */
}
.service-info > p {
  font-size: 1.4rem;
}

.service-cost > p {
  font-size: 2rem;
}

.booking-info {
  background-color: #6197BF;

  height: var(--booking-info-height);

  gap: var(--booking-info-gap);
  padding-top: var(--booking-info-padding-top);

  flex-direction: var(--booking-info-flex-direction);
}

.booking-info > iframe {
  height: var(--booking-info-iframe-height);
  width: var(--booking-info-iframe-width);

  border-radius: var(--booking-info-iframe-border-radius);
}

.booking-info-text {
 height: var(--booking-info-text-height);
 text-align: center;

 display: flex;
 gap: var(--booking-info-text-gap);
 flex-direction: var(--booking-info-text-flex-direction);
}
.booking-info-text > div > h2{
  font-size: var(--booking-info-text-h1-font-size);
}

.info-text-group > h3{
  font-size: var(--info-text-group-h2-font-size);
}
.info-text-group > p{
  margin-bottom: 1rem;
  font-size: var(--info-text-group-p-font-size);
}
