/* fonts: */
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* blank slate */
*{
  box-sizing: border-box;
  font-size: 100%;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
}

body{
  background-color: #1e2a39;
}

::-webkit-scrollbar {
  display: none; 
}

:root {
  -ms-overflow-style: none;
  scrollbar-width: none;

  --dimmer-justify-content: start;

  --nav-title-font-size: 5rem;
  --nav-title-margin: 0 0 0 0;
  --nav-align-items: baseline;
  --nav-items-font-size: 2.5rem;
  --nav-flex-direction: row;
  --nav-width: 75%;
  --nav-text-align: start;
  --nav-padding: 2.5rem 0 0 0;

  --article-flex-direction: row;

  --hero-width: 40%;
  --hero-right: 17%;
  --hero-text-font-size: 3.5rem;
  --hero-text-align: start;
  --hero-text-line-height: 4.5rem;
  --hero-text-margin-bottom: 8%;
  --hero-margin: 10% 0 0 0;
  --hero-align-items: flex-start;

  --CTAbutt-width: 20rem;
  --CTAbutt-height: 5rem;

  --about-me-height: 100vh;
  --about-me-img-border-radius: 0 3rem 3rem 0;
  --about-me-img-height: 100%;
  --about-me-img-width: 80%;
  --about-me-text-padding: 0 5rem 0 8rem;
  --about-me-text-text-align: start;
  --about-me-text-margin-bottom: 20rem;
  /* --about-me-text-margin-bottom: 20rem; */
  --about-me-text-h1-font-size: 6rem;
  --about-me-text-h1-margin-bottom: 1rem;
  --about-me-text-p-font-size: 2.5rem;

  --testimonial-width: 30%;
  --testimonials-gap: auto;
  --testimonial-text-p-font-size: 2.5rem;
  --testimonial-text-h1-font-size: 3.5rem;

  --tip-height: 70vh;
  --tip-padding: 7rem 0 7rem 0;
  --tip-gap: 5rem;
  --tip-pic-width: 55%;
  --tip-pic-height: 100%;
  --tip-pic-border-radius: 3rem 0 0 3rem;
  --tip-pic-top: 0;
  --tip-text-padding: 0 0 0 5rem;
  --tip-text-h1-font-size: 5rem;
  --tip-text-p-font-size: 2rem;
  --tip-text-align-items: flex-start;
  --tip-text-text-align: start;

  --banner-h2-font-size: 6rem;
  --banner-h2-margin-bottom: 0;
}

@media (max-width: 1200px) {
  :root {
    --hero-width: 80%;
    --hero-right: 0%

    --about-me-text-margin-bottom: 0rem;

    --about-me-text-h1-font-size: 450%;
    --about-me-text-p-font-size: 180%;
    --about-me-text-padding: 0 0rem 0 8rem;

  

  }
}

@media (max-width: 800px) {
  :root {
    --dimmer-justify-content: space-between;

    --nav-title-font-size: 4rem;
    --nav-title-margin: 2rem 0 0 0;
    --nav-align-items: right;
    --nav-items-font-size: 1.5rem;
    --nav-flex-direction: column-reverse;
    --nav-width: 100%;
    --nav-text-align: center;
    --nav-padding: 1rem 0 0 0;

  --article-flex-direction: column;

    --hero-width: 80%;
    --hero-right: 0%;
    --hero-text-font-size: 2rem;
    --hero-text-line-height: 3.2rem;
    --hero-text-align: center;
    --hero-text-margin-bottom: 10%;
    --hero-align-items: center;
    --hero-margin: 0 0 10% 0;

    --CTAbutt-width: 18rem;
    --CTAbutt-height: 4.5rem;  

    --about-me-height: auto;
    --about-me-img-border-radius: 0 0 3rem 3rem;
    --about-me-img-height: 20rem;
    --about-me-img-width: 100%;
    --about-me-text-padding: 1rem 0.5rem 0 0.5rem;
    --about-me-text-text-align: center;
    --about-me-text-margin-bottom: 2rem;
    --about-me-text-h1-font-size: 4rem;
    --about-me-text-h1-margin-bottom: 0.5rem;
    --about-me-text-p-font-size: 1.5rem;

    --testimonial-width: 90%;
    --testimonials-gap: 7rem;
    --testimonial-text-p-font-size: 1.5rem;
    --testimonial-text-h1-font-size: 3rem;
  
    --tip-height: auto;
    --tip-padding: 0;
    --tip-gap: 2rem;
    --tip-pic-width: 100%;
    --tip-pic-height: 20rem;
    --tip-pic-border-radius: 3rem 3rem 3rem 3rem; 
    --tip-pic-top: 3rem;
    --tip-text-padding: 0 0.5rem 0 0.5rem;
    --tip-text-h1-font-size: 4rem;
    --tip-text-p-font-size: 1.5rem;
    --tip-text-align-items: center;
    --tip-text-text-align: center;

    --banner-h2-font-size: 4rem;
    --banner-h2-margin-bottom: 2rem;

  
  }
}

h1 {
  font-family: 'Sacramento', cursive;
  font-style: normal;
  font-weight: 400;
}

.landing-page {
  background-image: url('./assets/landing.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dimmer {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: var(--dimmer-justify-content);
}

article {
  height: 95vh;
  width: 100vw;

  display: flex;
  flex-direction: var(--article-flex-direction);
  align-items: center;
  justify-content: var(--dimmer-justify-content);
}

nav {
  width: var(--nav-width);
  padding: var(--nav-padding);

  display: flex;
  flex-direction: var(--nav-flex-direction);
  justify-content: space-between;
  align-items: var(--nav-align-items);
  text-align: var(--nav-text-align);
}

nav>h1 {
  font-size: var(--nav-title-font-size);
  margin: var(--nav-title-margin);
}

.nav-items {
  list-style: none;
  font-size: var(--nav-items-font-size);

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 3rem;
}

.hero {
  width: var(--hero-width);

  right: var(--hero-right);
  
  margin: var(--hero-margin);
  
  /* background-color: #0085a3; */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: var(--hero-align-items);
  text-align: var(--hero-text-align);
}
.hero>h2 {
  line-height: var(--hero-text-line-height);
  font-weight: 500;
  font-size: var(--hero-text-font-size);

  margin-bottom: var(--hero-text-margin-bottom);
}

.CTAbutt {
  cursor: pointer;
  width: var(--CTAbutt-width);
  height: var(--CTAbutt-height);

  background-color: #02B6DD;
  border: 0;
  border-radius: 1.5rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 2rem;
  transition: 0.5s;
}
.CTAbutt>svg{
  width: 2rem;
  height: 2rem;

  top: 0.2rem;

  transition: 0.5s;

  /* margin-left: 2rem; */

}
.CTAbutt>p{
  font-size: 2rem;
}
.CTAbutt:hover {
  background-color: #00c8f5;
}
.CTAbutt:active {
  background-color: #0085a3;
}
.CTAbutt:hover > svg{
  transform: translate(1rem);
}

.about-me-img {
  height: var(--about-me-img-height);
  width: var(--about-me-img-width);
  border-radius: var(--about-me-img-border-radius);

  background-image: url('./assets/stef.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  /* flex-grow: 5; */

}
.about-me {
  overflow: hidden;
  height: var(--about-me-height);
}

.about-me-text {
  width: 100%;
  /* flex-shrink: 5; */
  text-align: var(--about-me-text-text-align);
  padding: var(--about-me-text-padding);
  margin-bottom: var(--about-me-text-margin-bottom);

}
.about-me-text>h1 {
  font-size: var(--about-me-text-h1-font-size);
  text-decoration: underline 0.2rem;
  margin-bottom: var(--about-me-text-h1-margin-bottom);
}
.about-me-text>p {
  font-size: var(--about-me-text-p-font-size);
}

.testimonials {
  background-color: #6297BF;

  justify-content: space-evenly;

  height: auto;


  padding: 13rem 0 10rem 0;

  gap: var(--testimonials-gap);
  /* max-height: 70vh; */
}

.testimonial {
  border: 3px solid white;
  border-radius: 2.5rem;
  width: var(--testimonial-width);
  height: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: var(--testimonial-margin-bottom);
  padding: 0 2.5rem 2rem 2.5rem;
}

.profile-pic{
  background-color: #6297BF;
  border-radius: 100rem;

  height: 9rem;
  width: 9rem;

  display: flex;

  align-items: center;
  justify-content: center;
  
  top: -4.5rem;
}
.profile-pic>div {
  border-radius: 100rem;
  height: 80%;
  width: 80%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonial-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  top: -3rem;
}
.testimonial-text>h1 {
  font-size: var(--testimonial-text-h1-font-size);
}
.testimonial-text>p {
  font-size: var(--testimonial-text-p-font-size);
}

.tip {
  background-color: #030712;
}

.tip {
  height: var(--tip-height);
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--tip-gap);
  padding: var(--tip-padding);
}

.tip-pic {
  height: var(--tip-pic-height);
  width: var(--tip-pic-width);
  border-radius: var(--tip-pic-border-radius);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 4;
  background-color: #0085a3;
  top: var(--tip-pic-top);
}

.tip-text {
  padding: var(--tip-text-padding);
  flex-shrink: 2;
  margin-top: 4rem;

  display: flex;
  justify-content: center;
  align-items: var(--tip-text-align-items);
  flex-direction: column;

  text-align: var(--tip-text-text-align);

}
.tip-text>h1 {
  font-size: var(--tip-text-h1-font-size);
  margin-bottom: 0.5rem;
}
.tip-text>p {
  font-size: var(--tip-text-p-font-size);
}

.tip-topic {
  background-color: #DE9C39;
  width: fit-content;
  padding: 0 0.5rem 0 0.5rem;
  border-radius: 3rem;
  margin-bottom: 1rem;
}

.banner {
  height: auto;
  padding: 4rem 0rem 4rem 0;

  justify-content: space-around;
  text-align: center;

}
.banner>h2 {
  font-size: var(--banner-h2-font-size);
  line-height: 3.5rem;
  margin-bottom: var(--banner-h2-margin-bottom);
}