/* fonts: */
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');


/* blank slate */
*{
  box-sizing: border-box;
  font-size: 100%;
  font-weight: normal;
  font-family: sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
}

body{
  background-color: #1e2a39;
}

.landing-page {
  height: 100vh;
  width: 100vw;

  background-image: url('./assets/pexels-james-wheeler-414612.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dimmer {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 75%;
  padding: 2rem 0 0 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

nav>h1 {
  font-family: 'Sacramento', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 5rem;
  line-height: 92px;
}

.nav-items {
  list-style: none;
}

.nav-items>a{
  font-size: 2.5rem;
}

.hero {
  width: 30%;

  right: 22%;
  
  margin: 10% 0 0 0;
  
  /* background-color: #0085a3; */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.hero>h2 {
  line-height: 4.5rem;
  font-weight: 500;
  font-size: 3.5rem;

  margin-bottom: 1rem;
}

.CTAbutt {
  cursor: pointer;
  width: 20rem;
  height: 5rem;

  background-color: #02B6DD;
  border: 0;
  border-radius: 1.5rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 2rem;
  transition: 0.5s;
}
.CTAbutt>svg{
  width: 2rem;
  height: 2rem;

  top: 0.2rem;

  transition: 0.5s;

  /* margin-left: 2rem; */

}
.CTAbutt>p{
  font-size: 2rem;
}
.CTAbutt:hover {
  background-color: #00c8f5;
}
.CTAbutt:active {
  background-color: #0085a3;
}
.CTAbutt:hover > svg{
  transform: translate(1rem);
}